<h1 class="secondary-logo">enter the kingdom</h1>
<div class="sign-in">
  <form id="sign-in" method="post" action='/sessions'>
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sign-in">
  </form>
<i class="fa fa-university fa-4x"></i>

<br>
<br>
</div>
