<h1 class="secondary-logo">become a citizen</h1>
<div class="sign-up">
  <form id="sign-up" method="post" action='/sign_up'>
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sign-up">
  </form>
<a href='/oauth/google'><i class="fa fa-google-plus fa-2x"></i></a>
<br>
<i class="fa fa-file-o fa-4x"></i>

<br>
<br>
</div>
