<h1 class="secondary-logo">Invisible Kingdom</h1>
<div class='row'>
  <div class="col-md-6">
  <div class="new-story">
    <a href ="/stories/new">
      <i class="fa fa-eye fa-5x"></i>
    <h3>discover</h3>
    <p>make a new story</p>
  </a>
  </div>
  </div>
  <div class="col-md-6">
    <div class='new-story'>
      <a href="#">
        <i class="fa fa-map-marker fa-5x"></i>
      <h3>map</h3>
      <p>see your old stories</p>
    </a>
  </div>
  </div>
</div>
<div class='story-feed'>
  <% @stories.each do |story| %>
  <div class='row'>
    <div class='col-md-12'>
      <article class="story">
        <h3><%=story.content%></h3>
        <p>(<%=story.longitude%>,<%=story.latitude%>)</p>
      </article>
    </div>
  </div>
  <% end %>
</div>
