<h1 class="secondary-logo">Invisible Kingdom</h1>
<a href ="/stories/new"><i class="new-story fa fa-eye fa-5x"></i></a><a href=""><i class="map-story fa fa-map-marker fa-5x"></i></a>
<div class='.story-feed'>
  <% @stories.each do |story| %>
  <article class="story">
    <h3><%=story.content%></h3>
    <p>(<%=story.longitude%>,<%=story.lattitude%>)</p>
  </article>
  <% end %>
</div>
