<h1 class="secondary-logo">Invisible Kingdom</h1>
<a href ="/stories/new"><i class="fa fa-eye fa-5x"></i></a><a href=""><i class="fa fa-map-marker fa-5x"></i></a>
<% @stories.each do |story| %>
<div class="story">
  <h3><%=story.content%></h3>
  <p>(<%=story.longitude%>,<%=story.lattitude%>)</p>
</div>
<% end %>
